LibraryAdmin/LibraryAdmin.API/.vs
LibraryAdmin/LibraryAdmin.API/bin
LibraryAdmin/LibraryAdmin.API/obj
LibraryAdmin/LibraryAdmin.Business/bin
LibraryAdmin/LibraryAdmin.Business/obj
LibraryAdmin/LibraryAdmin.DataAccess/obj
LibraryAdmin/LibraryAdmin.DataAccess/bin
